@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}

form {
  background: rgba(255, 255, 255, 0.1); /* transparent white */
  backdrop-filter: blur(10px);          /* blur effect */
  -webkit-backdrop-filter: blur(10px);  /* for Safari */
  
  border-radius: 12px;
  padding: 20px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

  color: white;
}